__pycache__
.DS_Store
node_modules
webpack-stats.json
package-lock.json
andestm/development_settings.py
misc/old_code
misc/prints
misc/vtk_files
misc/modelotermal.pdf
misc/data
databasebkp/
mediabkp/
*.vti
