{% extends 'base.html' %}

{% block head %}

<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
</style>

{% endblock %}

{% block content %}

  <div class="row">
    <h1> request.POST </h1>
    <table>
      <tr>
        <th>k=f(z)</th>
        <th>H=f(z)</th>
        <th>delta=ICD</th>
        <th>t=f(lat)</th>
        <th>K(cs)</th>
        <th>K(ci)</th>
        <th>K(ml)</th>
        <th>H(cs)</th>
        <th>H(ci)</th>
        <th>H(ml)</th>
      </tr>
      <tr>
        <td> {{ data.k_z }} </td>
        <td> {{ data.H_z }} </td>
        <td> {{ data.delta_icd }} </td>
        <td> {{ data.t_lat }} </td>
        <td> {{ data.k_cs }} </td>
        <td> {{ data.k_ci }} </td>
        <td> {{ data.k_ml }} </td>
        <td> {{ data.H_cs }} </td>
        <td> {{ data.H_ci }} </td>
        <td> {{ data.H_ml }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>delta</th>
        <th>Tp</th>
        <th>G</th>
        <th>kpa</th>
        <th>V</th>
        <th>dip</th>
        <th>b</th>
        <th>t</th>
        <th>d2</th>
      </tr>
      <tr>
        <td> {{ data.delta }} </td>
        <td> {{ data.Tp }} </td>
        <td> {{ data.G }} </td>
        <td> {{ data.kappa }}  </td>
        <td> {{ data.V }} </td>
        <td> {{ data.dip }} </td>
        <td> {{ data.b }} </td>
        <td> {{ data.t }} </td>
        <td> {{ data.D }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Bs(t)</th>
        <th>Bs(c)</th>
        <th>e</th>
        <th>R</th>
        <th>s max</th>
        <th>C.S.</th>
        <th>C.I.</th>
        <th>M.L.</th>
      </tr>
      <tr>
        <td> {{ data.Bs_t }} </td>
        <td> {{ data.Bs_c }} </td>
        <td> {{ data.e }} </td>
        <td> {{ data.R }} </td>
        <td> {{ data.s_max }} </td>
        <td> {{ data.Cs }} </td>
        <td> {{ data.Ci }} </td>
        <td> {{ data.Ml }} </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h1> form.cleaned_data </h1>
    <table>
      <tr>
        <th>k=f(z)</th>
        <th>H=f(z)</th>
        <th>delta=ICD</th>
        <th>t=f(lat)</th>
        <th>K(cs)</th>
        <th>K(ci)</th>
        <th>K(ml)</th>
        <th>H(cs)</th>
        <th>H(ci)</th>
        <th>H(ml)</th>
      </tr>
      <tr>
        <td> {{ Tdata.k_z }} </td>
        <td> {{ Tdata.H_z }} </td>
        <td> {{ Tdata.delta_icd }} </td>
        <td> {{ Tdata.t_lat }} </td>
        <td> {{ Tdata.k_cs }} </td>
        <td> {{ Tdata.k_ci }} </td>
        <td> {{ Tdata.k_ml }} </td>
        <td> {{ Tdata.H_cs }} </td>
        <td> {{ Tdata.H_ci }} </td>
        <td> {{ Tdata.H_ml }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>delta</th>
        <th>Tp</th>
        <th>G</th>
        <th>kpa</th>
        <th>V</th>
        <th>dip</th>
        <th>b</th>
        <th>t</th>
        <th>d2</th>
      </tr>
      <tr>
        <td> {{ Tdata.delta }} </td>
        <td> {{ Tdata.Tp }} </td>
        <td> {{ Tdata.G }} </td>
        <td> {{ Tdata.kappa }}  </td>
        <td> {{ Tdata.V }} </td>
        <td> {{ Tdata.dip }} </td>
        <td> {{ Tdata.b }} </td>
        <td> {{ Tdata.t }} </td>
        <td> {{ Tdata.D }}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Bs(t)</th>
        <th>Bs(c)</th>
        <th>e</th>
        <th>R</th>
        <th>s max</th>
        <th>C.S.</th>
        <th>C.I.</th>
        <th>M.L.</th>
      </tr>
      <tr>
        <td> {{ Mdata.Bs_t }} </td>
        <td> {{ Mdata.Bs_c }} </td>
        <td> {{ Mdata.e }} </td>
        <td> {{ Mdata.R }} </td>
        <td> {{ Mdata.s_max }} </td>
        <td> {{ Mdata.Cs }} </td>
        <td> {{ Mdata.Ci }} </td>
        <td> {{ Mdata.Ml }} </td>
      </tr>
    </table>
  </div>
{% endblock %}
